/.python-version
/.venv
/checkpoints
/config.py
/data/*
!/data/pride*
/models
/log.txt
/results
/scratch
/setup.txt
/target
/uv.lock
__pycache__
.DS_Store
.vscode
.claude/settings.local.json
Cargo.lock
data.txt
